<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-segment [(ngModel)]="country">
    <ion-segment-button value="india">
      <ion-label>INDIA</ion-label>
    </ion-segment-button>
    <ion-segment-button value="sa">
      <ion-label>SA</ion-label>
    </ion-segment-button>
  </ion-segment>

  <ion-list padding>
    <ion-item *ngFor="let item of raftersListIndia">
        {{item}}
    </ion-item>
  </ion-list>

</ion-content>
